body {
  padding-top: 50px;
}
.brand {
  font-family: 'Montserrat Subrayada', sans-serif;
}
.code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  background-color: #000;
  color: #fff;
  padding: 1em;
  overflow: scroll;
  border-radius: 4px;
  margin-top: 1em;
}